.load {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fbfbfb;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all ease 0.9s 0s;
  }
  
  .hide {
    opacity: 0;
    visibility: hidden;
  }
  
  .circle__parent {
    display: flex;
    justify-content: center;
    row-gap: 12px;
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
  
  .circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    animation: pulse 1.2s infinite;
  }
  
  .circle:nth-child(1) {
    background-color: #36A9E1;
    animation-delay: 0s;
  }
  
  .circle:nth-child(2) {
    background-color: #FACC00;
    animation-delay: 0.3s;
  }
  
  .circle:nth-child(3) {
    background-color: #DA261B;
    animation-delay: 0.6s;
  }
  
  .circle:nth-child(4) {
    background-color: #72B42C;
    animation-delay: 0.9s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }