@import '../main/_index';


@media (max-width: 450px) {
    .cart {
        width: 100% !important;
        left: 0 !important;
    }
    .cart__block {
        row-gap: 20px ;
    }
    
.buttons__controller {
    width: 100%;
}

}

.catalog__pc {
    padding: 20px;
}
.product__title {
    color: $dark-color !important;
}

// Filter 

.filter__block {
    row-gap: 16px;
    margin-bottom: 50px;
}
.filter__flex {
    gap: 10px;
}
.accent--active {
    background-color: $dark-color !important;
    color: $light-color !important;
}

.catalog__item {
    flex: 1 1 100%;
}
.catalog__img {
    object-fit: cover;
}
@media (max-width: 450px) {
    .product__inner {
        align-items: center !important;
    }
}