.cookie__block {
    width: 100%;
    max-width: 700px;
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 50;
    
    
    p {
        color: #252525;
        font-size: 16px;
        font-weight: 400;
    }
}
.cookie__message {
    width: 100%;
    background-color: #FCFCFC;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    display: flex;
    column-gap: 12px;
    padding: 16px 20px;
    bottom: 20px ;

}
.cookie__img {
    display: block;
}
@media (max-width: 768px) {
    .cookie__block {
        bottom: 0;
        left: 0px ;
    }
}
@media (max-width: 450px) {
    .cookie__block {
        bottom: 0;
        left: 0px ;
    }
}