@import '../main/_index.scss';
$formDarkClr: #2A2B40;

.form__order {
    width: 100%;
    margin: 0 auto;
}
.form__popup {
    width: 100%;
    height: 80vh;
    background-color: #FCFCFC;
    position: fixed;
    bottom: 0;
    z-index: 11;
    transform: translateY(100%);
    border-radius: 30px 30px 0 0 ;
    transition: all .8s ease 0s;
    
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
}
.form__inner {
    padding-top: 36px;
    padding-left: 80px;
    padding-right: 80px;

    row-gap: 37px ;

}
.form__title {
    font-size: 25px;
    font-weight: 700;
    color: $formDarkClr;
}
.form__popup {

}
.form__btn {
    @include defaultBtn;
}
.form__popup-input {
    background-color: #EFEFEF;
    font-size: 16px;
    padding: 20px 30px;
    border: none;
    border-radius: 45px;
    $focusClr: #D9D9D9;
    outline: 1px solid #EFEFEF;


    &:focus {
        outline: 1px solid $focusClr;
    }
}
.form__popup-form {
    row-gap: 20px;
}
.form__popup-btn {
    padding: 10px ;
    border-radius: 45px;

    :hover {
        background-color: #2A2B40;
    }
}

.form__block {
    column-gap: 100px;
}

.form__show {
    transform: translateY(0);
}
.form__list, .form__form {

    > h2 {
        margin-bottom: 32px;
    }
}
.form__list {
    flex: 0 1;
    flex-basis: 50%;

}
.form__scroll {
    overflow-y: scroll;
    height: 35vh;
    margin-bottom: auto;

}
.form__cart {
    max-width: 700px;
    margin-right: 50px;

}
.form__form {
    flex: 1;
}

.form__item {
    width: 100%;
    column-gap: 30px;
    flex: 1 1;

}

.form__num {
    > input {
        width: 100% !important;
        @extend .form__popup-input ;
        border: none !important;
        background-color: #EFEFEF !important;
        border: none !important;
        outline: 1px solid #EFEFEF;
        $focusClr: #D9D9D9;


        &:focus {
            outline: 1px solid $focusClr;
        }
    }
}
.react-tel-input .selected-flag {
    padding: 0 0 0 31px !important;
}
.react-tel-input .form-control {
    padding-left: 68px;
}
.form-control:focus {
    box-shadow: none !important;
}
.cart__info  {

    h4  {
    }
}
.cart__descr {  }
// ! ========================================================================================================================
@media ( max-width: 1200px ) {
    .form__block  {
        column-gap: 50px;
    }
}
@media ( max-width: 999px ) {
    .form__block  {
        flex-wrap: wrap-reverse;
        row-gap: 32px;
    }
    .form__list {
        flex-basis: 100%;
    }
    // padding-x padding-y
    .form__inner {
        padding-left: 40px;
        padding-right: 40px;
    }

    .form__cart {
        max-width: none;
    }
}
@media (max-width: 768px) {
    .form__price-total { margin-right: 20px !important; }
    .form__price { margin-right: 0; }

    .form__popup {
        height: 80vh;

    }
    .form__cart {
        margin-right: 10px;
    }
    .form__inner {
        padding-left: 20px;
        padding-right: 20px;
    }
    .cart__descr {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden !important;
        width: 250px;
    }
    .form__scroll { display: none; }
}

@media (max-width: 550px) {
    .form__subject { font-size: 24px !important; }
    .form__list > h2, .form__form > h2 { font-size: 18px; margin-bottom: 16px; }
    .form__inner { row-gap: 20px; }
    .form__popup-input { padding: 16px ; }  
    .form__block { row-gap: 20px ; }
    .form__price { font-size: 20px; }

    .fixed__btn, .scroll-to-top-button { right: 20px; }
}