@import '../main/_index.scss';
@import 'aos/dist/aos.css';
// About water

.about {

    &__inner {
        padding-top: 130px;
        padding-bottom: 332px;
    }
    &__title {
        color: $dark-color !important;
    }

    &__title--my {
    }

    &__block {
        gap: 20px;
    }

    &__item {
        width: 295px;
        flex: 1 0 30%;

    }

    &__img {
    }
    &__img--my {
        margin: 50px 0px ;
    }
    &__subject {
        font-size: 18px;
        font-weight: 600;
        
        display: block;

        color: $dark-color;

        text-transform: uppercase;

        &--mb {
            margin-bottom: 40px;
        }
    }
    &__descr {
        font-size: 16px;
        font-weight: 400;
        color: $secondary-color;

    }
}

.fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .fade-up[data-aos="fade-up"].aos-animate {
    opacity: 1;
    transform: translateY(0);
  }
  

  
//  Media

@media (max-width: 450px) {
    .about__item {
        flex: 1 0 100%;
    }
    .about__subject--mb {
        margin-bottom: 20px;
    }
    .about__inner {
        padding-top: 60px;
        padding-bottom: 100px;
    }
}

