@import '../main/_index.scss';

.product {

    overflow: hidden;

    &--img {
        @include bg__img('../../img/product-img.png', center);
    }
    &__inner {
        padding-top: 60px;
        padding-bottom: 253px;  
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
        row-gap: 30px;
    }
    &__title {
        color: $dark-color;
        margin-bottom: 50px;
    }
    &__subject {
        font-weight: 700;
        font-size: 26px;
        text-transform: uppercase;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 26px;
        color: $secondary-color;
        margin: 10px 0 32px 0;
        display: block;
    }
    &--bg {
        background-color: #ECF3FF;
    }
    &__catalog {
        // flex: 0 1 100%;
        // column-gap: 22px;
    }
    &__catalog_items {
        width: 100%;
        max-width: 300px !important;
    }
    &__item {
        background-color: #fff;
        padding: 6px;
        border-radius: 10px;

        padding-bottom: 24px;
    }
    &__btn--blue {
        background-color: #36A9E1 !important;
        border-radius: 100px !important;
    }
    &__content {
        position: relative;
        height: 605.91px;
    }
    &__img--fwr {
        position: absolute;
        left: 130px;
        bottom: 30px;
    }   
    &__img--back {
        position: absolute;
    }
    &__btn-default {
        background-color: transparent;
        border: none;
        padding: 2px;
    }
}   

// Parallax

.parallax {
    position: relative;

    &--effects {

        position: absolute;
        bottom: 0;
        width: 120%;

        &-02 {
            bottom: 0;  
        }
    }
}


.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;

    cursor: pointer;
}
.bullet-container {
    display: flex;
    column-gap: 35px;

    margin-top: 60px;
}
// myButton // кнопка
// myPathStroke stroke="#36A9E1" 
// myPathFill
// mySvg fill=""

.slider__img {width: 80%;}

@media (max-width: 450px) {
    .slider__img {
        width: 100%;
    }
    .product__inner {
        padding-bottom: 50px;
    }
}