.burgerMenu {
    width: 100%;
    height: 100vh;
    z-index: 8;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 100px 0;

    transition: all .2s ease-in 0s;

    // Чтобы бургер меню не было видно
    transform: translateY(0%) skewY(0) ;
    transform-origin: top;
}
.burgerMenu--hide {
    transform: translateY(-100%) ;
}
.burgerMenu__refs {
    font-size: 24px;
    text-decoration: none;
    color: #111111;
    font-weight: 600;
}
.burgerNav {
    display: flex;
}
.mobile-menu {
    column-gap: 24px;
}
.burgerMenu__refs {
    width: 100%;
    padding: 32px 0;
    display: inline-block;
    // masonry-auto-flow: ;
    text-align: center;

    &:hover {
        background-color: #f6f6f6;
    }
}
.burgerMenu__btn {
    background-color: transparent;
    font-size: 18px ;
    border: 1px solid #000;
    border-radius: 30px;
    
    padding: 7px 20px 10px 20px;
}
@media (orientation: portrait)  {
    .form__inner {
        overflow-y: scroll;
        height: -webkit-fill-available;
    }
}